



@font-face {
    font-family: 'ClanOT';
    src: url('../fonts/clanot-bold-webfont.eot');
    src: url('../fonts/clanot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanot-bold-webfont.woff2') format('woff2'),
         url('../fonts/clanot-bold-webfont.woff') format('woff'),
         url('../fonts/clanot-bold-webfont.ttf') format('truetype'),
         url('../fonts/clanot-bold-webfont.svg#clan_otbold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap

}




@font-face {
    font-family: 'ClanOT';
    src: url('../fonts/clanot-book-webfont.eot');
    src: url('../fonts/clanot-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanot-book-webfont.woff2') format('woff2'),
         url('../fonts/clanot-book-webfont.woff') format('woff'),
         url('../fonts/clanot-book-webfont.ttf') format('truetype'),
         url('../fonts/clanot-book-webfont.svg#clan_otbook') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap

}




@font-face {
    font-family: 'ClanOT';
    src: url('../fonts/ClanOT-CondBold.eot');
    src: url('../fonts/ClanOT-CondBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClanOT-CondBold.woff2') format('woff2'),
        url('../fonts/ClanOT-CondBold.woff') format('woff'),
        url('../fonts/ClanOT-CondBold.ttf') format('truetype'),
        url('../fonts/ClanOT-CondBold.svg#ClanOT-CondBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap; 
}


 

@font-face {
    font-family: 'ClanOT';
    src: url('../fonts/clanot-condbook-webfont.eot');
    src: url('../fonts/clanot-condbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanot-condbook-webfont.woff2') format('woff2'),
         url('../fonts/clanot-condbook-webfont.woff') format('woff'),
         url('../fonts/clanot-condbook-webfont.ttf') format('truetype'),
         url('../fonts/clanot-condbook-webfont.svg#clan_otcond_book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap

}


@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('../fonts/HelveticaNeueLTArabic-Roman.eot');
    src: url('../fonts/HelveticaNeueLTArabic-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTArabic-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueLTArabic-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTArabic-Roman.svg#HelveticaNeueLTArabic-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 75';
    src: url('../fonts/HelveticaNeueLTArabic-Bold.eot');
    src: url('../fonts/HelveticaNeueLTArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTArabic-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTArabic-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueLTArabic-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTArabic-Bold.svg#HelveticaNeueLTArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Extra-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Black.OTF') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Bold.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Light.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Medium.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Regular.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer-Thin.OTF') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}



