.our-sponsers-section {
    .brand-box {
        gap: 17px;
        justify-content: center;

        div {
            padding: 16px 30px;
        }
    }

    .custom-img {
        // object-fit: cover;
        height: 60px;
    }
}