.privacy-policy-section {
    p{
        color:$primary1;
        font-size:18px;
        font-weight:300;
        line-height: 28px;  
    }
    ul {
        li{
            
            color:$primary1;
            font-size:18px;
            font-weight:300;
            line-height: 28px;
        }
     
    }
}