.news-section-box1 {

	// border: 1px solid #DAD2D8;
	// overflow: hidden;
	// border-radius: 12px;
	// height:100%;

}
.related-news  {
	border:1px solid rgb(211,211,211);
    border-radius: 12px;
	overflow: hidden;
	a {
		text-decoration: none;
	}
	.news-item{
		background-color: rgb(247,247,247);
	}
h4 {
	margin-bottom: 24px;
	@media (max-width:1400px) and (min-width:992px) {
		font-size: 16px;
		margin-bottom: 10px;
	}
	@include media-breakpoint-down(lg) {
		font-size: 18px;
		margin-bottom: 0px;
	}
}
}
.news-content {
	padding: 103px 48px;

	@include media-breakpoint-down(lg) {
		padding: 20px;
	}
	a{
		text-decoration: none;
		color:#001D29;
		& :hover {
			color:$grey;
		}
	}
}

.news-image {
	width:100%;
	@include media-breakpoint-up(xl) {
		height:auto;
		object-fit: cover;
	}
}
.img-news-small {
 height:100px;
@media (max-width:1400px) {
		 height:70px;
	}
 
}
.knw-more-btn {
	background-color: $maroon;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 6px;

	color: $white;

	&::after {
		background-color: white;
		inset-inline-end: 30px;
	}
}

.card {
	overflow: hidden;
	background-color: rgb(247,247,247);
}

// .card-body {

// 	padding: 32px;

	
// }

.news-row{
a {
	text-decoration: none;
	// background-color: $white;
	color: #333333;
	border-radius: 10px;
	transition: all 0.6s ease;
}



}

// .card-img-top {
// 	transition: transform 0.3s ease;
// 	transform-origin: bottom center;
// 	object-fit: cover;
// }


.card-title {
	min-height:77px;
	&:hover {
		text-decoration: underline;
	}

}
// .card{
// 	&:hover {
// 		.card-img-top {
// 			transform: scale(1.1);
// 		}
	   
// 	}
// }

.btn-more {
	span{
		color:$white;
	}
	i{
		border-inline-start: 1px solid $white;
		&::before{
			background-color: $white;
		}
	}
}
.single-news-section{
	p{
		@include media-breakpoint-down(md){
			font-size: 16px;
		}
	}
// 	img:first-of-type {
//     width: 70%;
//     display: block;
//     margin: 20px auto; 
//   }
}
.box-shadow1 {
	box-shadow: 0px 28.47px 62.2px 0px #A7AEBA14;
}

.custom-gap1 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
  }